*{
    margin: 0;
    padding: 0;
}
.header {
    border: 1px solid black;
    background-color: #87D3C7;
}
.aside {
    border: 1px solid black;
}
.article {
    border: 1px solid black;
}
.footer {
    border: 1px solid black;
}
.image {
    border: 1px solid black;
}
.contenedor {
    background-color: #FFABAF;
    width: 100vw;
    height: 100vh;
}
.azulClaro {
    background-color: rgb(98, 207, 235);
}
.azul {
    background-color: rgb(25, 168, 204);
}
.rosa{
    background-color: rgb(245, 105, 128);
}
.gris{
    background-color: darkgrey;
}