*{
    margin: 0;
    padding: 0;
}
.contenedor {
    background-color: #FFABAF;
    width: 100vw;
    height: 100vh;
    
}
.centrar-v-h {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header {
    background-color: #87D3C7;
    height: 90px;
}
.aside {
    background-color: #3ABAB7;
    width: 40%;
}
.article {
    background-color: #FF7077;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.footer {
    background-color: #87D3C7;
}
.img {
    background-color: #D6D5D5;
    width: 33%;
    height: 90%;
    margin: 10px 10px;
    margin-bottom: 10px;

}

.center {
    display: flex;
    height: 70vh;
}
.imagenes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 30%;
}