
body {
    /*margin: 50px;*/
}

.logoindex {
    width: 300px;
    height: 50px;
}

p {
    color: blue;
}
 #amarillo {
     color: rgb(52, 98, 158);
 }
 #violeta {
     color: purple;
 }

 .navindex {
     background-color: #D00C88
     ;
     padding: 20px;
     border-radius: 30px;
 }

 .opc {
     margin-right: 8px;
     text-decoration: none;
     color: white;
     width: 100%;
 }