/* @import url();  para un documnto que nos paso?*/

/* @media screen and (max-width: 1400px) {} */
body {
    background-color: hotpink;
    color: white;
    font-size: 20px;
}

h1.title {
    font-size: 8em;
}

@media screen and (min-width: 1px) and(max-width: 576px) {
    body {
        background-color: #b13737;
        }
        h1.title {
            font-size: 3em;
            color: #333;
        }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    body {
        background-color: #17ebfa;
        }
        h1.title {
            font-size: 4em;
        }
}
@media screen and (min-width: 769px) and  (max-width: 992px) {
    body {
        background-color: #32df40;
        }
        h1.title {
            font-size: 6em;
        }
}
@media screen and (min-width: 993px) and  (max-width: 1200px) {
    body {
        background-color: #dd40b6;
        }
        h1.title {
            font-size: 1em;
        }
}

