.contenedor {
    width: 100vw; /*100% de lo que esta disponible*/
    height: 100vh;
    background-color: rgb(209, 36, 209);
}
html, body {
    margin: 0;
    padding: 0;;
    position: relative;
}

.hijo {
    width: 150px;
    height: 150px;
    border: 10px solid #333;
    background-color: #030303;
    float: right;
    position: absolute;
    top: 50px;
    /* bottom: 10px; 10%*/
    /* left: 30px; */
    right: 50px;
    transform: translate(-50% -50%);
}